@use "../abstract/variables" as *;
// Anchor Links 
    // General Anchor Links Styling 
    a{
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: capitalize;
        color: $black;
        cursor: pointer;
        &:hover, 
        &:focus{
            color: red;
        }
    }

    .primaryLink{
        padding: 1rem 3rem;
        background-color: $limeGreen;
        border-radius: 20px;
        cursor: pointer;
        // &:hover, 
        // &:focus{

        // }
    }

    .secondaryLink {
        padding: 1rem 3rem;
        background-color: $jobiGreen;
        border-radius: 20px;
        color: $whiteFont;
        cursor: pointer;
        // &:hover, 
        // &:focus{

        // }
    }

    // MarketPlace 
    .explore{
        color: $jobiGreen;
        &:hover, 
        &:focus{
            padding-bottom: .6rem;
            border-bottom: 2px solid $jobiGreen;
            border-radius: 1px;
        }
    }
    .exploreJobi{
        border: solid 2px red;
        padding: 1rem 3rem;
        background-color: $jobiGreen;
        border-radius: 20px;
        color: $whiteFont;
        // &:hover, 
        // &:focus{

        // }
    }

    .apply{
        padding: .6rem 1.5rem;
        background-color: $green;
        color: $whiteFont;
        border-radius: 20px;
    }




// General Button Styling 

    // Index Page 
        // Trending Services 
        .left{
            background-color: $whiteFont;
            padding: 1.2rem 1.5rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            // &:hover, 
            // &:focus{

            // }
        }

        .right {
            background-color: $lightGrey;
            padding: 1.2rem 1.5rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            // &:hover, 
            // &:focus{

            // }
        }

        // Feedback
        .carouselBtn{
            border: none;
            background-color: inherit;
            cursor: pointer;
            // &:hover, 
            // &:focus{

            // }
        }


        // Footer Nav 
        .lookLink{
            border: 2px solid $jobiGreen;
            color: $jobiGreen;
            padding: 1rem 3rem;
            border-radius: 5px;
            // &:hover, 
            // &:focus{

            // }
        }

        .postLink{
            border: 2px solid $jobiGreen;
            background-color: $jobiGreen;
            color: $whiteFont;
            padding: 1rem 3rem;
            border-radius: 5px;
            // &:hover, 
            // &:focus{

            // }
        }

        .send{
            border: none;
            padding: .8rem 1.5rem;
            color: $whiteFont;
            background-color: $darkGreen;
            border-radius: 5px;
        }

        .goBack {
            cursor: pointer;
            // &:hover, 
            // &:focus{

            // }
        }

        .category{
            border: none;
            padding: 1rem 2rem;
            border-radius: 3rem;
            background-color: rgba($color: $whiteFont, $alpha: 0.1);
            color: $limeGreen;
        }

        // Second Navigation 
        .login{
            border: none;
            background-color: inherit;
            font-size: 1.8rem;
            color: $limeGreen;
            text-transform: capitalize;
        }

        .search{
            padding: 0 5rem;
            font-size: 1.8rem;
            text-transform: capitalize;
            background-color: $limeGreen;
            border: none;
        }





// To Do 
    // Changle the link and button 'clicked' state color? 
    // Add active and visited states to clickable anchor links 