@use "../abstract/variables" as *;

.wrapper{
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

span{
    display: block;
}

ul{
    li{
        list-style: none;
    }
}

img{
    max-width: 100%;
}