// Color Palette
$darkGreen: #254135;
$black: #0F1620;
$darkGrey: #3d3d3d;
$green: #31795A;
$grey: #C4C4C4;
$lightGreen: #e9f2ef; 
$lightGrey: #F5F5F5; 
$limeGreen: #D2F34C;
$jobiGreen: #00BF58;
$whiteFont: #fff;
$brown: #755146;
$lightBrown: #DFA79C;
$newJobiGreen: #00fc74;
$newGreen: #08623b;
$medGrey: #EBEBEB;
$blurBlack: rgba($color: $black, $alpha: 0.6);
$blurDarkGrey: #979797;