@use "../abstract/variables" as *;

.whyUs{
    margin: 10rem 0;
    .wrapper{
        display: flex;
        flex-direction: row;
        // border: 2px solid red;
    }
    .whyUsImgCont{
        // border: 2px solid orange;
        // flex-basis: 50%;
        display: flex;
        width: 50%;
        img{
            object-fit: scale-down;
        }
    }
    .whyUsContent{
        // border: 2px solid blue;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-bottom: 2rem;
        h2{
            margin: 2.5rem 0;
        }
        h4{
            color: $jobiGreen;
            font-size: 1.8rem;
        }
        .reasonTitle{
            text-transform: capitalize;
            color: $darkGreen;
            font-weight: 600;
        }
    }
    .reason{
        // border: 2px solid green;
        margin: 2rem 0;
        .topRow{
            // border: 2px solid pink;
            display: flex;
            justify-content: space-between;
        }
    }
}

// To check 
    // Image and how it is fitting responsively