@use "../abstract/variables" as *;

.feedback{
    margin: 15rem 0;
    .wrapper{
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .feedbackHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            width: 50%;
            text-align: center;
            text-transform: none;
            margin: 1rem 0 6rem 0;
        }
        .feedbackLogo{
            margin: 1rem 0 0 0;;
        }
    }
    .quote{
        .quoteAndButtons{
            display: flex;
            justify-content: space-between;
            padding: 0 3rem;
        }
        .quoteBy{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;
            div{
                display: flex;
                align-items: center;
                margin: .7rem 0 0 0;
            }
            .quoteByFrom{
                font-weight: 600;
            }
        }
    }
    .clientImgs{
        display: flex;
        justify-content: center;
        .client{
            background-color: $grey;
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            margin: 2rem 2rem;
        }
    }
}