@use "../abstract/variables" as *;


.jobLists{
    margin: 10rem 0;
    margin-left: 5rem;
    border: 2px solid green;
    width: auto;
    .topTopRow{
        // border: 2px solid cyan;
        margin: 0 2rem;
    }
    .listsContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .job{
        border: 2px solid $lightGrey;
        padding: 3rem;
        border-radius: 10px;
        // background-color: $lighttGreen;
        // border: 2px solid blue;
        margin: 0 2rem;
        flex-basis: calc(50% - 4rem);
        .topListRow{
            // border: 2px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .listContent{
            // border: 2px solid magenta;
            .jobType{
                width: 10rem;
                text-align: center;
                padding: .4rem .9rem;
                font-weight: 600;
                text-transform: capitalize;
                // border: 2px solid blue;
                background-color: $blueGreen;
                color: $green;
                border-radius: 10px;
            }
            .jobTitle{
                text-transform: capitalize;
                font-weight: 600;
            }
            .salary{
                font-weight: 600;
                .freq{
                    font-weight: 350;
                    color: $grey;
                    display: inline-block;
                }
            }
        }
        .bottomListRow{
            // border: 2px solid green;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-weight: 600;;
            }
        }
    }
}