@use "../abstract/variables" as *;

.leadingBrand{
    .wrapper{
        background-color: $darkGreen;
        display: flex;
        padding: 4rem 0;
    }
    .content{
        padding: 10rem 0 10rem 10rem;
        width: 45%;
        h2{
            margin: 0 0 2.5rem 0;
            color: $whiteFont;
        }
        p{
            width: 80%;
            line-height: 2;
            margin-top: 0;
            margin-bottom: 5rem;
            color: $whiteFont;
        }
    }
    .leadingBrandImg{
        width: 55%;
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
        }
    }
}