@use "../abstract/variables" as *;

.marketLists {
    display: flex;
    justify-content: space-between;
    // border: 2px solid aqua;
    padding: 0;
    .field{
        border: 2px solid $lightGrey;
        height: 30rem;
        width: 26rem;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover, 
        &focus{
            border: 2px solid $jobiGreen;
        }
        .fieldContent{
            border: 2px solid red;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}