@use "../abstract/variables" as *;

.topSkills{
    .wrapper{
        padding: 4rem 0;
        nav{
            height: auto;
            background-color: $whiteFont;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 3rem 0;
            margin: 5rem 0;
        }
        .navColumn{
            flex-basis: 20%;
            padding-left: 2rem;
            h4{
                margin-top: 0;
                color: $black;
            }
            .initial{
                color: $jobiGreen;
            }
            ul{
                padding: 0;
            }
            li{
                font-size: 1.8rem;
                text-transform: capitalize;
                margin: 1.6rem 0;
            }
        }
    }
}