@use "../abstract/variables" as *;

.trendingServ{
    background-color: $lightGrey;
    padding: 4rem;
    .serviceTopRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        .carouselButtons{
            background-color: $whiteFont;
            border: 2px solid $lightGrey;
            border-radius: 5px;
            height: 100%;
            width: 6%;
            .left, .right {
                width: 50%;
            }
        }
    }
    .serviceLinks{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 4rem;
        .service{
            background-color: lightpink;
            border-radius: 3px;
            height: 45rem;
            width: 40rem;
            position: relative;
            margin: 0 1rem;
            .serviceTitle{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 2rem 0;
                color: $whiteFont;
                font-weight: 600;
                line-height: 1.8;
                border-radius: 3px;
                text-transform: capitalize;
                background: linear-gradient(to top, $black 20%, rgba($color:$grey, $alpha: 0.1));
                margin: 0;
                p{
                    margin-left: 5rem;
                }
            }
            span{
                display: block;
            }
        }
    }
}