@use "../abstract/variables" as *;

.secondNavigation{
    display: flex;
    // border: 2px solid blue;
    background-color: $darkGreen;
    padding: 1rem 4rem;
    // height: 12vh;
    border-bottom: none;
    position: relative;
    .secNavLeft{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid palevioletred;
        width: 40%;
        .navLeftContent{
            display: flex;
            // border: 2px solid red;
            // width: 35%;
            .logo{
                margin-right: 4rem;
            }
            .categButton{
                margin: auto 0;
            }
        }
        .secondNav{
            display: flex;
            justify-content: space-between;
            // border: 2px solid orange;
            width: 60%;
            margin-left: 2rem;
            padding: 0;
            a{
                color: $whiteFont;
                margin: 0 .7rem;
            }
        }
    }
    .designIcon{
        margin: .5rem auto;
        // border: 2px solid brown;
        // width: auto;
        position: absolute;
        right: 50%;
        left: 50%;
    }
    .jobLinks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid purple;
        width: 25%;
        margin: 2rem 0;
        .postLogin{
            padding: 2rem;
            margin-right: 2rem;
            // border: 2px solid blue;
            display: flex;
            justify-content: space-between;
            .post{
                padding-right: 3rem;
                border-right: 2px solid $limeGreen;
                color: $whiteFont;
            }
            .login{
                padding-left: 3rem;
            }
        }
    }
}