@use "../abstract/variables" as *;

.secondNavigation{
    display: flex;
    // border: 2px solid blue;
    background-color: $darkGreen;
    padding: 0 10rem;
    height: 12vh;
    border-bottom: none;
    .secNavLeft{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // border: 2px solid palevioletred;
        width: 50%;
        .navLeftContent{
            display: flex;
            // border: 2px solid red;
            width: 35%;
            .logo{
                margin-right: 4rem;
            }
            .categButton{
                margin: auto 0;
            }
        }
        .secondNav{
            display: flex;
            justify-content: space-between;
            // border: 2px solid orange;
            width: 50%;
            padding: 0;
            a{
                color: $whiteFont;
            }
        }
    }
    .designIcon{
        margin: 0 auto;
        // border: 2px solid brown;
        width: auto;
    }
    .jobLinks{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // border: 2px solid purple;
        width: 40%;
        .postLogin{
            padding: 2rem;
            margin-right: 2rem;
            // border: 2px solid blue;
            display: flex;
            justify-content: space-between;
            .post{
                padding-right: 3rem;
                border-right: 2px solid $limeGreen;
                color: $whiteFont;
            }
            .login{
                padding-left: 3rem;
            }
        }
    }
}