a {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #0F1620;
  cursor: pointer;
}
a:hover, a:focus {
  color: red;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #254135;
  transition: 0.7s;
}
a:visited {
  text-decoration: underline;
}

.primaryLink {
  padding: 1rem 3rem;
  background-color: #D2F34C;
  border-radius: 20px;
  cursor: pointer;
}
.primaryLink:hover, .primaryLink:focus {
  color: red;
}
.primaryLink:visited {
  text-decoration: underline;
}

.secondaryLink {
  padding: 1rem 3rem;
  background-color: #00BF58;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
.secondaryLink:hover, .secondaryLink:focus {
  color: red;
}
.secondaryLink:visited {
  text-decoration: underline;
}

.explore {
  color: #00BF58;
  cursor: pointer;
}
.explore:hover, .explore:focus {
  padding-bottom: 0.6rem;
  border-bottom: 2px solid #00BF58;
  border-radius: 1px;
  color: #fff;
}
.explore:visited {
  text-decoration: underline;
}

.exploreJobi {
  padding: 1rem 3rem;
  background-color: #00BF58;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
.exploreJobi:hover, .exploreJobi:focus {
  color: red;
}
.exploreJobi:visited {
  text-decoration: underline;
}

.apply {
  padding: 0.6rem 1.5rem;
  background-color: #31795A;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.apply:hover, .apply:focus {
  color: red;
}
.apply:visited {
  text-decoration: underline;
}

.lookLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00BF58;
  color: #00BF58;
  padding: 10px;
  width: 19rem;
  border-radius: 5px;
  min-width: 12rem;
  cursor: pointer;
}
.lookLink:hover, .lookLink:focus {
  color: red;
}
.lookLink:visited {
  text-decoration: underline;
}

.secondLookLink {
  border: 2px solid #254135;
  color: #254135;
  padding: 1rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.secondLookLink:hover, .secondLookLink:focus {
  color: red;
}
.secondLookLink:visited {
  text-decoration: underline;
}

.secondPostLink {
  border: 2px solid #D2F34C;
  background-color: #D2F34C;
  color: #3d3d3d;
  padding: 1rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.secondPostLink:hover, .secondPostLink:focus {
  color: red;
}
.secondPostLink:visited {
  text-decoration: underline;
}

.left {
  background-color: #fff;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.left:hover, .left:focus {
  color: red;
}
.left:visited {
  text-decoration: underline;
}

.right {
  background-color: #F5F5F5;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.right:hover, .right:focus {
  color: red;
}
.right:visited {
  text-decoration: underline;
}

.carouselBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.carouselBtn:hover, .carouselBtn:focus {
  transform: scale(1.1);
  transition: 0.5s;
}
.carouselBtn:visited {
  text-decoration: underline;
}

.postLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00BF58;
  background-color: #00BF58;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 19rem;
  min-width: 12rem;
  cursor: pointer;
}
.postLink:hover, .postLink:focus {
  color: red;
}
.postLink:visited {
  text-decoration: underline;
}

.send {
  border: none;
  padding: 0.8rem 1.5rem;
  color: #fff;
  background-color: #254135;
  border-radius: 5px;
  width: 8rem;
  min-width: 6rem;
  cursor: pointer;
}
.send:hover, .send:focus {
  color: red;
}
.send:visited {
  text-decoration: underline;
}

.goBack {
  cursor: pointer;
}
.goBack:hover, .goBack:focus {
  color: red;
}
.goBack:visited {
  text-decoration: underline;
}

.category {
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #D2F34C;
  cursor: pointer;
}
.category:hover, .category:focus {
  color: red;
}
.category:visited {
  text-decoration: underline;
}

.login {
  border: none;
  background-color: inherit;
  font-size: 1.8rem;
  color: #D2F34C;
  text-transform: capitalize;
  cursor: pointer;
}
.login:hover, .login:focus {
  color: red;
}
.login:visited {
  text-decoration: underline;
}

.search {
  padding: 0 5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  background-color: #D2F34C;
  border: none;
  cursor: pointer;
}
.search:hover, .search:focus {
  color: red;
}
.search:visited {
  text-decoration: underline;
}

.accordionButton {
  border: none;
  background-color: inherit;
  border-radius: 20px;
  width: 5rem;
  height: auto;
  cursor: pointer;
}
.accordionButton:hover, .accordionButton:focus {
  background-color: #e9f2ef;
}
.accordionButton:visited {
  text-decoration: underline;
}

.wrapper {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

span {
  display: block;
}

ul li {
  list-style: none;
}

a {
  color: black;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 8.5rem;
  font-weight: 600;
  color: #254135;
  font-family: "EB Garamond", serif;
}

h2 {
  font-size: 7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #254135;
  font-family: "EB Garamond", serif;
}

h3 {
  font-size: 4.8rem;
  font-weight: 600;
  color: #254135;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #00BF58;
  text-transform: capitalize;
}

h5 {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
}

p {
  font-size: 1.8rem;
}

blockquote {
  font-size: 3.6rem;
  width: 50%;
  text-align: center;
  line-height: 2;
}

legend {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 600;
}

label {
  text-transform: capitalize;
  font-size: 1.6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  border-bottom: 2px solid #F5F5F5;
}
nav .navLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navLeft .logo {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}
nav .navLeft form {
  background-color: #F5F5F5;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}
nav .navLeft .searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navLeft .searchBar .searchInput, nav .navLeft .searchBar .searchOption {
  border: none;
}
nav .navLeft .searchBar .searchInput {
  width: 20vw;
  border-right: 2px solid #C4C4C4;
  padding: 1rem;
  background-color: #F5F5F5;
}
nav .navLeft .searchBar .searchInput::-moz-placeholder {
  padding-left: 2rem;
  position: relative;
  font-size: 1.6rem;
}
nav .navLeft .searchBar .searchInput::placeholder {
  padding-left: 2rem;
  position: relative;
  font-size: 1.6rem;
}
nav .navLeft .searchBar .searchInput::-moz-placeholder::before {
  content: "";
  background-image: url("../assets/mvpAssets/searchIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
nav .navLeft .searchBar .searchInput::placeholder::before {
  content: "";
  background-image: url("../assets/mvpAssets/searchIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
nav .navLeft .searchBar .searchOption {
  flex-basis: 15%;
  padding: 1.5rem;
  background-color: #F5F5F5;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.6rem;
}
nav .navRight {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}
nav .navRight .searchLinks {
  display: flex;
  width: 65%;
  justify-content: space-around;
  margin: 0 2rem;
}
nav .navRight .searchLinks a, nav .navRight .searchLinks .pages {
  margin-left: 1rem;
}
nav .navRight .searchLinks a {
  font-size: 1.8rem;
  color: #0F1620;
}
nav .navRight .searchLinks .pages {
  border: none;
  background-color: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  color: #3d3d3d;
  cursor: pointer;
}
nav .navRight .searchLinks option {
  font-weight: 350;
}
nav .navRight .userAuthLinks {
  width: 25rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  justify-content: space-between;
}
nav .navRight .userAuthLinks .primaryLink {
  color: #0F1620;
  margin-left: 5rem;
}

.trendingServ {
  background-color: #F5F5F5;
  padding: 5rem 0 10rem 0;
}
.trendingServ .wrapper {
  flex-direction: column;
}
.trendingServ .serviceTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.trendingServ .serviceTopRow .carouselButtons {
  background-color: #fff;
  border: 2px solid #F5F5F5;
  border-radius: 5px;
  height: 100%;
  width: 6%;
}
.trendingServ .serviceTopRow .carouselButtons .left, .trendingServ .serviceTopRow .carouselButtons .right {
  width: 50%;
}
.trendingServ .serviceLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin-bottom: 4rem;
}
.trendingServ .serviceLinks .service {
  background-color: #C4C4C4;
  border-radius: 5px;
  height: 35rem;
  width: calc(25% - 2.5rem);
  position: relative;
  margin: 0 1rem;
}
.trendingServ .serviceLinks .service:hover, .trendingServ .serviceLinks .service:focus {
  box-sizing: border-box;
  border: 2px solid #00BF58;
}
.trendingServ .serviceLinks .service a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.trendingServ .serviceLinks .service .serviceTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  color: #fff;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 3px;
  text-transform: capitalize;
  background: linear-gradient(to top, #0F1620 20%, rgba(196, 196, 196, 0.1));
  margin: 0;
  display: flex;
  justify-content: center;
}
.trendingServ .serviceLinks .service span {
  display: block;
}

.marketPlace {
  margin: 10rem 0;
}
.marketPlace .wrapper {
  display: flex;
  flex-direction: column;
}
.marketPlace .wrapper .marketTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketPlace .wrapper .marketLists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
.marketPlace .wrapper .marketLists .field {
  border: 2px solid #F5F5F5;
  margin: 0 0.5rem;
  height: 30rem;
  width: calc(16.6666666667% - 1rem);
  padding: 1.5rem 0;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketPlace .wrapper .marketLists .field:hover, .marketPlace .wrapper .marketLists .fieldfocus {
  border: 2px solid #00BF58;
}
.marketPlace .wrapper .marketLists .field .fieldContent {
  height: 80%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.marketPlace .wrapper .marketLists .field p {
  margin-bottom: 0;
}

.whyUs {
  margin: 10rem 0;
}
.whyUs .wrapper {
  display: flex;
  flex-direction: row;
}
.whyUs .whyUsImgCont {
  display: flex;
  justify-content: center;
  width: 50%;
}
.whyUs .whyUsImgCont img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-width: 100%;
}
.whyUs .whyUsContent {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-bottom: 2rem;
}
.whyUs .whyUsContent h2 {
  margin: 2.5rem 0;
}
.whyUs .whyUsContent h4 {
  color: #00BF58;
  font-size: 1.8rem;
}
.whyUs .whyUsContent .reasonTitle {
  text-transform: capitalize;
  color: #254135;
  font-weight: 600;
}
.whyUs .reason {
  margin: 2rem 0;
}
.whyUs .reason .topRow {
  display: flex;
  justify-content: space-between;
}

.businessSolution {
  margin: 10rem 0;
}
.businessSolution .wrapper {
  display: flex;
}
.businessSolution .wrapper .businessContent {
  background-color: #614137;
  padding: 7rem 10rem;
  flex-basis: 55%;
}
.businessSolution .wrapper .businessContent h2 {
  color: #fff;
  line-height: 1.1;
  text-transform: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.businessSolution .wrapper .businessContent h2 .emphasize {
  display: block;
  color: #DFA79C;
}
.businessSolution .wrapper .businessContent h4 {
  margin: 0;
}
.businessSolution .wrapper .businessContent p {
  color: #fff;
  line-height: 2;
  margin: 0;
  font-size: 2rem;
}
.businessSolution .wrapper .businessContent .bottomInfo .stats {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  margin: 5rem 0;
}
.businessSolution .wrapper .businessContent .stat {
  margin-top: 1rem;
}
.businessSolution .wrapper .businessContent .stat p {
  margin: 0;
}
.businessSolution .wrapper .businessContent .statTitle {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 1rem 0;
}
.businessSolution .wrapper .businessImg {
  background-color: #F5F5F5;
  width: 45%;
}

.feedback {
  margin: 10rem 0;
}
.feedback .wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.feedback .feedbackHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback .feedbackHeader h2 {
  width: 65%;
  text-align: center;
  text-transform: none;
  margin: 1rem 0 6rem 0;
}
.feedback .feedbackHeader .feedbackLogo {
  margin: 1rem 0 0 0;
}
.feedback .quote .quoteAndButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.feedback .quote blockquote {
  width: 70%;
}
.feedback .quote .quoteBy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.feedback .quote .quoteBy div {
  display: flex;
  align-items: center;
  margin: 0.7rem 0 0 0;
}
.feedback .quote .quoteBy .quoteByFrom {
  font-weight: 600;
}
.feedback .clientImgs {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  width: auto;
}
.feedback .clientImgs .client {
  background-color: #C4C4C4;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 2rem 2rem;
}

.leadingBrand .wrapper {
  background-color: #254135;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.leadingBrand .content {
  width: 50%;
  padding-left: 5rem;
}
.leadingBrand .content h2 {
  margin: 0 0 2.5rem 0;
  color: #fff;
  line-height: 1.3;
}
.leadingBrand .content p {
  width: 80%;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 5rem;
  color: #fff;
}
.leadingBrand .leadingBrandImg {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.leadingBrand .leadingBrandImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}
.leadingBrand .leadingBrandImg figcaption {
  border: 2px solid red;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.topSkills .wrapper {
  padding: 4rem 2rem;
}
.topSkills .wrapper nav {
  height: auto;
  width: 100%;
  background-color: #fff;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  margin: 5rem 0;
}
.topSkills .wrapper .navColumn h4 {
  margin-top: 0;
  color: #0F1620;
}
.topSkills .wrapper .navColumn h4:hover, .topSkills .wrapper .navColumn h4:focus {
  color: #00BF58;
  transform: scale(1.05);
  transition: 0.7s;
  text-shadow: -1px 1px 1px rgba(15, 22, 32, 0.6);
}
.topSkills .wrapper .navColumn ul {
  padding: 0;
}
.topSkills .wrapper .navColumn li {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 1.6rem 0;
}

.howItWorks .wrapper {
  flex-direction: column;
  position: relative;
}
.howItWorks h2, .howItWorks p {
  color: #fff;
}
.howItWorks h2 {
  margin: 2rem 0;
}
.howItWorks .topCont {
  display: flex;
}
.howItWorks .topCont .topLeftCont {
  width: 30%;
}
.howItWorks .topCont .topRightCont {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #0F1620, rgba(0, 0, 0, 0));
  padding-left: 50rem;
  padding-top: 5rem;
  padding-bottom: 25rem;
  padding-right: 5rem;
}
.howItWorks .topCont span {
  display: inline-block;
  color: #00BF58;
}
.howItWorks .bottomCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: rgba(15, 22, 32, 0.3);
}
.howItWorks .bottomCont .info {
  width: 33.3333333333%;
  padding: 4rem;
  padding-bottom: 7rem;
  display: flex;
  height: 100%;
  align-items: flex-start;
}
.howItWorks .bottomCont .info .numberIcon {
  margin: 0 1.5rem;
  height: 100%;
}

footer {
  margin-bottom: 4rem;
}
footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .wrapper .socialMedia {
  display: flex;
  flex-basis: 7%;
  justify-content: space-between;
}

.topFooter {
  padding: 5rem 0;
}
.topFooter .wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
.topFooter .footerHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #EBEBEB;
  width: 100%;
  padding-bottom: 5rem;
}
.topFooter .footerHeader h3 {
  margin: 0;
}
.topFooter .footerHeader p {
  color: rgba(15, 22, 32, 0.6);
  margin-top: 1.5rem;
}
.topFooter .footerHeader .footerTopLinks {
  margin: auto 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.topFooter .footerHeader .footerTopLinks .postLink {
  margin-left: 2.5rem;
}
.topFooter .footerNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 6rem 0;
}
.topFooter .footerNav h5 {
  margin-top: 0;
  margin-bottom: 2rem;
}
.topFooter .footerNav .logo {
  margin-bottom: 11rem;
}
.topFooter .footerNav .footerNavList {
  padding: 0 1rem;
}
.topFooter .footerNav .footerNavList ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.topFooter .footerNav .footerNavList li {
  width: 100%;
  margin: 1.2rem 0;
}
.topFooter .footerNav .footerNavList a {
  color: rgba(15, 22, 32, 0.6);
  width: 100%;
}
.topFooter .footerNav .footerForm {
  width: 28%;
}
.topFooter .footerNav .footerForm p {
  margin: 3rem 0;
}
.topFooter .footerNav .footerForm .inputRow {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5rem 0.2rem;
  width: auto;
  background-color: #fff;
}
.topFooter .footerNav .footerForm .formText {
  color: #979797;
  margin: 0.8rem 0;
}
.topFooter .footerNav .footerForm input {
  border: none;
  width: 100%;
  padding: 1rem 10rem 1rem 0;
}
.topFooter .footerNav .footerForm input::-moz-placeholder {
  font-size: 1.6rem;
}
.topFooter .footerNav .footerForm input::placeholder {
  font-size: 1.6rem;
}

.errorPage {
  height: 88vh;
  display: flex;
}
.errorPage .wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.errorPage .errorImg {
  height: 62rem;
  width: 62rem;
  background-color: #C4C4C4;
}
.errorPage .errorContent {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
}
.errorPage .errorContent h1, .errorPage .errorContent p, .errorPage .errorContent button {
  margin: 2rem 0;
}
.errorPage .errorContent h1 {
  color: #0F1620;
  font-weight: 400;
  margin: 0;
}
.errorPage .errorContent h1 span {
  color: #31795A;
}
.errorPage .errorContent button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2F34C;
  border: none;
  border-radius: 30px;
  padding: 0 2rem;
}
.errorPage .errorContent button p {
  text-transform: uppercase;
}

.secondNavigation {
  display: flex;
  background-color: #254135;
  padding: 0 10rem;
  height: 12vh;
  border-bottom: none;
}
.secondNavigation .secNavLeft {
  display: flex;
  align-items: center;
  width: 50%;
}
.secondNavigation .secNavLeft .navLeftContent {
  display: flex;
  width: 35%;
}
.secondNavigation .secNavLeft .navLeftContent .logo {
  margin-right: 4rem;
}
.secondNavigation .secNavLeft .navLeftContent .categButton {
  margin: auto 0;
}
.secondNavigation .secNavLeft .secondNav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0;
}
.secondNavigation .secNavLeft .secondNav a {
  color: #fff;
}
.secondNavigation .designIcon {
  margin: 0 auto;
  width: auto;
}
.secondNavigation .jobLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}
.secondNavigation .jobLinks .postLogin {
  padding: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
}
.secondNavigation .jobLinks .postLogin .post {
  padding-right: 3rem;
  border-right: 2px solid #D2F34C;
  color: #fff;
}
.secondNavigation .jobLinks .postLogin .login {
  padding-left: 3rem;
}

.secondHeader {
  background-color: #254135;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  position: relative;
  padding-bottom: 5rem;
}
.secondHeader h1 {
  margin: 0;
  color: #fff;
}
.secondHeader p {
  color: #fff;
}
.secondHeader .formCont {
  padding: 0;
  display: flex;
  width: auto;
  margin-top: 5rem;
}
.secondHeader .formCont form {
  display: flex;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
}
.secondHeader .formCont .searchInput, .secondHeader .formCont .searchOptions {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
}
.secondHeader .formCont .searchInput {
  border: none;
  padding: 0;
}
.secondHeader .formCont .searchInput input {
  border: none;
  padding: 1rem 0;
}
.secondHeader .formCont .searchOptions {
  border-left: 2px solid #F5F5F5;
  padding-left: 3rem;
}
.secondHeader .formCont .searchOptions select {
  border: none;
  background-color: inherit;
  padding: 1rem 0;
  color: #979797;
}
.secondHeader .formCont input, .secondHeader .formCont select {
  width: 25rem;
}
.secondHeader .formCont p {
  margin: 0;
  color: #C4C4C4;
}
.secondHeader .formCont .search {
  border-radius: 0 5px 5px 0;
}
.secondHeader .designMiniIcon {
  position: absolute;
  bottom: 0;
  left: 0;
}

.filterByForm {
  margin: 10rem 0;
  min-width: 20%;
}
.filterByForm h4 {
  color: #0F1620;
  margin: 2rem 0.5rem;
}
.filterByForm .filterCont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  background-color: #e9f2ef;
}
.filterByForm .filterCont fieldset {
  border: 0;
}
.filterByForm .filterCont .filter {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.filterByForm .filterCont .filter label {
  text-transform: capitalize;
}
.filterByForm .filterCont .filter input, .filterByForm .filterCont .filter select {
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  height: 4vh;
  background-color: #fff;
  color: rgba(15, 22, 32, 0.6);
}
.filterByForm .filterCont .filter input::-moz-placeholder {
  text-transform: capitalize;
}
.filterByForm .filterCont .filter input::placeholder {
  text-transform: capitalize;
}
.filterByForm .filterCont .filter select {
  text-transform: capitalize;
  height: 4vh;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  margin-top: 1rem;
}
.filterByForm .filterCont .checkboxItem {
  margin: 1rem 0;
  display: flex;
}
.filterByForm .filterCont .checkboxItem label {
  margin-left: 1rem;
}
.filterByForm .filterCont .checkboxItem input {
  height: 2vh;
  width: auto;
}
.filterByForm .filterCont .jobTypeCont,
.filterByForm .filterCont .experienceLevelCont {
  width: 100%;
}
.filterByForm .filterCont .salaryRangeSect .salaryRangeInput {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.filterByForm .filterCont .salaryRangeSect input {
  height: 2vh;
  border-radius: 5px;
}
.filterByForm .filterCont .salaryRangeSect p {
  margin: 0;
}

.jobLists .wrapper {
  flex-direction: row;
}

.jobLists {
  margin: 10rem 0;
  margin-left: 4rem;
  width: auto;
}
.jobLists .topTopRow {
  margin: 0 2rem;
  color: #979797;
}
.jobLists .topTopRow span {
  color: #0F1620;
  display: inline-block;
}
.jobLists .listsContainer {
  display: flex;
  flex-wrap: wrap;
}
.jobLists .job {
  border: 2px solid #F5F5F5;
  padding: 3rem;
  border-radius: 10px;
  margin: 0.5rem 2rem 1rem 2rem;
  flex-basis: calc(50% - 4rem);
}
.jobLists .job .topListRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobLists .job .topListRow button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.jobLists .job .topListRow button:hover, .jobLists .job .topListRow button:focus {
  transform: scale(1.07);
  transition: 0.7s;
}
.jobLists .job .listContent .jobType {
  width: 10rem;
  text-align: center;
  padding: 0.4rem 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #E7F6EF;
  color: #31795A;
  border-radius: 10px;
}
.jobLists .job .listContent .jobTitle {
  text-transform: capitalize;
  font-weight: 600;
}
.jobLists .job .listContent .salary {
  font-weight: 600;
}
.jobLists .job .listContent .salary .freq {
  font-weight: 350;
  color: #C4C4C4;
  display: inline-block;
}
.jobLists .job .bottomListRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobLists .job .bottomListRow p {
  font-weight: 600;
}

.indexSecondNav {
  background-color: #fff;
  border-bottom: 2px solid #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: auto;
}
.indexSecondNav ul {
  display: flex;
  width: 95%;
  height: 3vh;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.indexSecondNav ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 14.2857142857%;
}
.indexSecondNav ul li a {
  color: #3d3d3d;
  font-weight: 600;
}
.indexSecondNav ul li span {
  display: inline-block;
}
.indexSecondNav .searchOption {
  padding-left: 5rem;
  border: none;
  background-color: inherit;
  font-size: 1.6rem;
  color: rgba(61, 61, 61, 0.85);
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: 4vh;
  width: 12%;
}

.headerContent {
  display: flex;
  justify-content: flex-start;
}
.headerContent .wrapper {
  display: flex;
  align-self: center;
  align-items: center;
  height: 65vh;
}
.headerContent .indexHeaderText {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.headerContent .indexHeaderText h1 {
  margin: 1rem 0 2rem 0;
  width: 100%;
}
.headerContent .indexHeaderText h4 {
  margin: 0 0 1rem 0;
  color: #5EA17E;
}
.headerContent .indexHeaderText a:hover, .headerContent .indexHeaderText a:focus {
  text-decoration: none;
}
.headerContent .indexHeaderText .secondaryLink {
  margin: 3rem 0;
}
.headerContent .indexHeaderText .trustedBy {
  display: flex;
  align-items: center;
  justify-self: left;
  margin: 1rem 0;
  width: 85%;
}
.headerContent .indexHeaderText .trustedBy .trustedCompanies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: 5rem;
}
.headerContent .headerImg {
  position: absolute;
  right: 0;
  width: 55%;
  height: 50vh;
  display: flex;
  align-items: center;
}
.headerContent .headerImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 6.6rem;
  }
  .indexSecondNav ul {
    width: 100%;
  }
  .indexSecondNav ul li {
    align-items: flex-end;
  }
  .indexSecondNav ul li span {
    display: block;
  }
  .indexSecondNav .searchOption {
    width: 13%;
  }
  .headerContent .indexHeaderText {
    height: 75%;
    width: 44%;
  }
  .headerContent .indexHeaderText h1 {
    margin: 1rem 0;
    font-size: 8rem;
  }
  .headerContent .indexHeaderText p {
    width: 90%;
    margin: 0;
  }
  .headerContent .indexHeaderText .trustedBy {
    width: 92%;
  }
  .headerContent .indexHeaderText .trustedBy p {
    width: 35%;
  }
  .headerContent .indexHeaderText .trustedBy .trustedCompanies {
    justify-content: space-between;
  }
  .whyUs .whyUsContent h2 {
    margin: 2rem 0;
  }
  .whyUs .reason {
    margin: 1rem 0;
  }
  .businessSolution .wrapper .businessContent p {
    line-height: 1.8;
  }
  .businessSolution .wrapper .businessContent .stat {
    margin-top: 1rem;
  }
  .howItWorks h2 {
    margin: 1rem 0;
  }
  .howItWorks .topCont .topLeftCont {
    width: 40%;
  }
  .howItWorks .topCont .topRightCont {
    width: 65%;
    padding-left: 32rem;
    padding-bottom: 23rem;
  }
  .howItWorks .bottomCont .info {
    padding-bottom: 6rem;
  }
  .howItWorks .bottomCont .info p {
    margin-top: 0;
  }
  .feedback h2 {
    width: 63%;
  }
  .feedback .quote blockquote {
    width: 65%;
  }
  .feedback .clientImgs .client {
    margin: 2.5rem;
  }
  footer .wrapper .socialMedia {
    flex-basis: 10%;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 970px) {
  h2 {
    font-size: 6rem;
  }
  .indexSecondNav ul {
    width: 100%;
  }
  .indexSecondNav ul li {
    width: 14.2857142857%;
  }
  .indexSecondNav .searchOption {
    padding-left: 3rem;
    width: 12%;
  }
  .headerContent .indexHeaderText {
    height: 72%;
  }
  .headerContent .indexHeaderText h1 {
    font-size: 7.5rem;
  }
  .headerContent .indexHeaderText p {
    width: 100%;
  }
  .headerContent .indexHeaderText .secondaryLink {
    margin: 3rem 0;
  }
  .headerContent .indexHeaderText .trustedBy {
    width: 95%;
  }
  .headerContent .indexHeaderText .trustedBy p {
    width: 25%;
  }
  .marketPlace .wrapper .marketTopRow {
    padding: 0 1rem;
  }
  .marketPlace .wrapper .marketLists .field {
    margin: 0.6rem;
    width: calc(33.3333333333% - 1.2rem);
  }
  .whyUs .whyUsContent h4 {
    margin-bottom: 1.5rem;
  }
  .whyUs .whyUsContent h2 {
    margin: 1.2rem 0;
  }
  .whyUs .reason {
    margin: 1rem 0;
  }
  .whyUs .reason p {
    margin: 1rem 0;
  }
  .businessSolution .wrapper {
    flex-direction: column;
  }
  .howItWorks h2 {
    margin: 1rem 0;
  }
  .howItWorks .topCont .topLeftCont {
    width: 0;
  }
  .howItWorks .topCont .topRightCont {
    width: 100%;
    padding-left: 16rem;
  }
  .howItWorks .bottomCont .info {
    padding-bottom: 4rem;
  }
  .feedback h2 {
    width: 60%;
  }
  .feedback .clientImgs {
    flex-wrap: wrap;
  }
  .feedback .clientImgs .client {
    height: 6rem;
    width: calc(33.3333333333% - 3.2rem);
    margin: 1.8rem;
  }
  .topFooter .wrapper {
    padding-bottom: 0;
  }
  .topFooter h3 {
    margin: 0;
  }
  .topFooter p {
    color: rgba(15, 22, 32, 0.6);
    margin-top: 1.5rem;
  }
  .topFooter .footerHeader .footerTopLinks {
    flex-direction: column;
    align-items: center;
  }
  .topFooter .footerHeader .footerTopLinks .postLink {
    margin-top: 1rem;
    margin-left: 0;
  }
  footer {
    margin: 1rem 0;
  }
  footer .wrapper {
    height: 100%;
    padding-top: 1rem;
  }
  footer .wrapper .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .wrapper .footerLinks a {
    margin: 0.4rem 0;
  }
  footer .wrapper .socialMedia {
    flex-basis: 13%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h2 {
    font-size: 5.5rem;
  }
  .indexSecondNav ul {
    flex-wrap: wrap;
    height: auto;
    padding-left: 3rem;
    justify-content: flex-start;
  }
  .indexSecondNav ul li {
    width: 25%;
    justify-content: flex-start;
  }
  .indexSecondNav ul li span {
    display: inline-block;
  }
  .indexSecondNav .searchOption {
    padding-left: 0;
    width: 20%;
  }
  .headerContent .indexHeaderText {
    height: 75%;
    width: 35%;
  }
  .headerContent .indexHeaderText h1 {
    font-size: 6.3rem;
    margin-bottom: 0;
  }
  .headerContent .indexHeaderText p {
    width: 100%;
    margin: 0.7rem 0;
  }
  .headerContent .indexHeaderText .secondaryLink {
    margin: 3rem 0;
  }
  .headerContent .indexHeaderText .trustedBy {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
  }
  .headerContent .indexHeaderText .trustedBy .trustedCompanies {
    margin-left: 0;
  }
  .headerContent .indexHeaderText .trustedBy p {
    width: 15%;
    margin: 0.5rem 0;
  }
  .trendingServ {
    padding: 4rem 0 8rem 0;
  }
  .trendingServ .serviceLinks .service {
    width: calc(50% - 2.5rem);
    margin: 1rem;
  }
  .trendingServ .serviceLinks .service .serviceTitle {
    padding: 2rem 4rem;
    justify-content: flex-start;
  }
  .marketPlace {
    margin: 8rem 0;
  }
  .whyUs .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .whyUs .whyUsImgCont {
    width: 57%;
  }
  .whyUs .whyUsContent h4 {
    margin-bottom: 1.5rem;
  }
  .whyUs .whyUsContent h2 {
    margin: 1.2rem 0;
  }
  .whyUs .whyUsContent .learnMore {
    margin-top: 2rem;
  }
  .whyUs .reason {
    margin: 1rem 0;
  }
  .whyUs .reason p {
    margin: 1rem 0;
  }
  .businessSolution .wrapper .businessContent {
    flex-basis: 50%;
    padding: 7rem;
  }
  .businessSolution .wrapper .businessContent p {
    line-height: 1.8;
  }
  .businessSolution .wrapper .businessContent .stat {
    margin-top: 1rem;
  }
  .businessSolution .wrapper .bottomInfo .stats {
    margin: 4rem 0;
  }
  .businessSolution .wrapper .businessImg {
    width: 50%;
  }
  .howItWorks h2 {
    margin: 1rem 0;
  }
  .howItWorks .topCont .topLeftCont {
    width: 40%;
  }
  .howItWorks .topCont .topRightCont {
    width: 65%;
    padding-left: 26rem;
    padding-bottom: 23rem;
  }
  .howItWorks .bottomCont .info {
    padding-bottom: 4rem;
  }
  .feedback h2 {
    width: 60%;
  }
  .feedback .clientImgs .client {
    height: 9rem;
    width: 9rem;
    margin: 1.8rem;
  }
  .topFooter .wrapper {
    padding-bottom: 0;
  }
  .topFooter h3 {
    margin: 0;
  }
  .topFooter p {
    color: rgba(15, 22, 32, 0.6);
    margin-top: 1.5rem;
  }
  .topFooter .footerHeader .footerTopLinks {
    flex-direction: column;
    align-items: center;
  }
  .topFooter .footerHeader .footerTopLinks .postLink {
    margin-top: 1rem;
    margin-left: 0;
  }
  footer {
    margin: 1rem 0;
  }
  footer .wrapper {
    height: 100%;
    padding-top: 1rem;
  }
  footer .wrapper .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .wrapper .footerLinks a {
    margin: 0.4rem 0;
  }
  footer .wrapper .socialMedia {
    flex-basis: 13%;
  }
}
/* Landscape phones and down *//*# sourceMappingURL=App.css.map */